  <div class="card-header bg-dark">
    <span class="font-size-20pt text-light">Files And Images</span>
</div>
<div class="container-fluid page__container page__container page-section">
    <div class="row">
                {% if files %}
                {% for x in files %}
                    <div class="col-md-4 col-lg-3 col-sm-3">
                        <a href="{{ x.files.url }}" download="{{ x.name }}">
                            <input type="checkbox" name="file_id" style="width:15px; height:15px" value="{{ x.id }}" id="delete_file">
                            <div class="card posts-card-popular">

                                {# check extension file uisng slice #}
                                {% if x.files.url|slice:"-4:" == ".png" or x.files.url|slice:"-4:" == ".jpg"  %}
                                     <img src="{{ x.files.url }}" alt="" class="card-img">
                                {% else %}
                                    <img src="/static/assets/images/file.png" alt="file" class="card-img">
                                {% endif %}
                            </div>
                            <span style="display: block">{{ x.files|truncatechars:30}}</span>
                            <span class="text-primary">{{ x.created }}</span>
                        </a>
                    </div>
                {% endfor %}
                {% endif %}



        </div>
         <form method="post" action="{{ action_url }}" enctype="multipart/form-data">
             <div class="row " style="margin-top:50px">
                {% csrf_token %}
                {# input for multiple files #}
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="file"  id="file" multiple name="file"  width="100%">
                        </div>
                    </div>
                </div>

             <div class="card-footer">
                 {% if files %}
                <a onclick="delete_fiiles()" class="btn btn-outline-accent-red btn-block-xs" name="delete_files"
                   id="delete_files" style="margin-left: 2px; float: left"><span><i class="fas fa-trash-alt"></i> Delete Selected</span></a>
                {% endif %}
                <button style="float: left; margin-left: 2px" class="btn btn-outline-warning btn-block-xs" onclick="updateDiv()"><span><i class="fas fa-sync"></i> Refrach</span></button>
                <button type="submit" style="float: right" class="btn btn-info btn-block-xs"><span> <i class="fas fa-save"></i> save</span></button>
          </div>
         {% block script %}

            {#  delete multiple items  #}
            <script>
                function delete_fiiles() {
                    var id = [];
                    $(':checkbox:checked').each(function(i){
                        id[i]=$(this).val()
                    })

                    if(id.length===0){
                        alert("please select files to delete?")
                    }
                    else{
                        console.log(id);
                        $.ajax({
                            url: "{% url 'ONSite:DeleteFiles' %}",
                            method: "POST",
                            data:{
                                id,
                                csrfmiddlewaretoken: "{{ csrf_token }}",
                                dataType:"json"
                            },
                            success: function (response){
                                if(response.msg == 1){
                                     $("#files_div")
                                  .html("&nbsp;")
                                  .load(
                                    "{% url 'ONSite:FilesUpdateDive' object.id %}"
                                  );
                                }

                            },
                            failure: function (){
                                alert("check Files to delete")
                            }
                        })
                    }

                }
            </script>

                <script>
                    function updateDiv()
                        {
                          $("#files_div")
                          .html("&nbsp;")
                          .load(
                            "{% url 'ONSite:FilesUpdateDive' object.id %}")
                        }
                </script>



        {% endblock script %}
        </form>


</div>