<div class="card-title">
    <h4 style="margin-left:1%">Files</h4>
</div>

{# div files list #}
<div class="card-body" id="files_div">
    {% include 'files_div.html' %}
</div>

{% block script %}

{#  function to check all checkbox  #}
    <script>
        $(document).ready(function(){
            $('#check_all').click(function(){
            var checked = this.checked;
            $('input[type="checkbox"]').each(function(){
                this.checked = checked;
            });
        })
        })
    </script>



{# function to delete multiple items  #}
    <script>
        $(document).ready(function(){
            $('#delete_files').click(function(){
                if(confirm("Are You Sure? ")){
                    var id = [];
                $(':checkbox:checked').each(function(i){
                    id[i]=$(this).val()
                })
                if(id.length === 0){
                    alert("please select files to delete?")
                }else{
                    console.log(id);
                    $.ajax({
                        url: "{% url 'ONSite:DeleteFiles' %}",
                        method: "POST",
                        data:{
                            id,
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                            dataType:"json"
                        },
                        success: function (response){
                            if(response.msg == 1){
                                 $("#files_div")
                              .html("&nbsp;")
                              .load(
                                "{% url 'ONSite:FilesUpdateDive' object.id %}"
                              );
                            }

                        },
                        failure: function (){
                            alert("check Files to delete")
                        }
                    })
                }

                }
            });


        })
    </script>


    {#  Relaod Function  #}
    <script>
        function updateDiv()
            {
                  $("#files_div")
                  .html("&nbsp;")
                  .load(
                    "{% url 'ONSite:FilesUpdateDive' object.id %}")
            }
    </script>

{% endblock script %}




