 {% for x in issue %}

<div class="card posts-card" >

     <div class="posts-card__content d-flex align-items-center flex-wrap" >
        <div class="mr-4 issue-card">
        <h3> #{{ x.id }}</h3>
        </div>
            <div class="posts-card__title flex d-flex flex-column">
                <h5 class="card-title text-primary m-0"><a href="" class="headings-color">{% if x.title %} {{ x.title }} {% endif %}</a></h5>
                <small class="text-50">{% if x.create %} {{ x.create }} {% endif %}</small>
            </div>
                <div class="d-flex align-items-center flex-row flex-sm-row posts-card__meta">
                     <div class=" text-50 text-uppercase  d-flex align-items-center">

                        <h4 class="
                        {% if x.status.id == 1 %}
                        text-danger
                        {% elif x.status.id == 2 %}
                        text-success
                        {% else %}
                        text-warning
                        {% endif %}
                          "
                        >
                        {{ x.status }}
                        </h4>
                    </div>
                    <div class="ml-3 text-50 d-flex align-items-center">
                        <h4>{{ x.channel }}</h4>
                    </div>
                    <div class="ml-3 text-50 d-flex align-items-center">
                        <h4>{{ x.module }}</h4>
                    </div>
                </div>

                    <div class="dropdown ml-auto">
                         <a href="#" data-toggle="dropdown" data-caret="false" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                        <div class="dropdown-menu dropdown-menu-right" style="">
                            <a href="{% url 'ONSite:AssignIssue' x.id %}" data-toggle="modal" data-target="#sub_modal" class="dropdown-item"><Span><i class="fas fa-reply"></i> Assign</Span></a>
                            <a href="{% url 'ONSite:IssueUpdate' x.id %}" data-toggle="modal" data-target="#sub_modal" class="dropdown-item" ><span><i class="fas fa-pencil-alt"></i> Edit</span></a>
                            <a data-target="#sub_modal" class="dropdown-item" data-toggle="modal" href="{% url 'ONSite:FilesUpdate' x.id %}"><span><i class="fas fa-folder-open"></i> Files</span> </a>
                        </div>
                    </div>
    </div>

</div>
{% endfor %}