
{% block main %}
    {% load bootstrap4 %}
    {% load  crispy_forms_tags %}


    <div class="row">
        <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="modal-title">
                            {{ title }}
                            <span class="card-tools" style="float: right">
                                <button type="button" class="btn btn-tool" data-dismiss="modal">
                                    <i class="fas fa-times"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="card-body" >

                        <div id="accordion">

                            <!-- Main Info Headre -->
                            <div class="card-header" id="main_info_heading">
                              <h5 class="mb-0">
                                <a href="#"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    #Main Info
                                </a>
                              </h5>
                            </div>
                            <!-- End main info Header -->


                            <!-- Main info form div -->
                            <div id="collapseOne" class="collapse show" aria-labelledby="main_info_heading" data-parent="#accordion">
                                  <div class="card-body">
                                     <div class="row">
                                        <div class="col-lg-6 col-sm-12">
                                            <div class="form-group" id="title">
                                                {{form.title|as_crispy_field}}
                                            </div>
                                        </div>

                                         <div class="col-lg-3 col-sm-12">
                                             <div class="form-group" >
                                                 {{ form.module|as_crispy_field }}
                                             </div>
                                         </div>

                                         <div class="col-lg-3 col-sm-12 subscription" >
                                             <div class="form-group" >
                                                 {{ form.subscription_type|as_crispy_field }}
                                             </div>
                                         </div>

                                         <div class="col-lg-4 col-sm-12 subscription" >
                                             <div class="form-group" >
                                                 {{ form.subscription_number|as_crispy_field }}
                                             </div>
                                         </div>

                                         <div class="col-lg-4 col-sm-12 subscription" >
                                             <div class="form-group" >
                                                 {{ form.subscription_expiry_date|as_crispy_field }}
                                             </div>
                                         </div>


                                         <div class="col-lg-3 col-sm-12 trains" >
                                             <div class="form-group" >
                                                 {{ form.train_number|as_crispy_field }}
                                             </div>
                                         </div>

                                         <div class="col-lg-4 col-sm-12 trains" >
                                             <div class="form-group" >
                                                 {{ form.train_from|as_crispy_field }}
                                             </div>
                                         </div>

                                         <div class="col-lg-4 col-sm-12 trains" >
                                             <div class="form-group" >
                                                 {{ form.train_to|as_crispy_field }}
                                             </div>
                                         </div>

                                         <div class="col-lg-4 col-sm-12 trains" >
                                             <div class="form-group" >
                                                 {{ form.trip_date|as_crispy_field }}
                                             </div>
                                         </div>

                                         <div class="col-lg-3 col-sm-12">
                                             <div class="form-group" >
                                                 {{ form.channel|as_crispy_field }}
                                             </div>
                                         </div>

                                         <div class="col-lg-4 col-sm-12" id="trans_number_div">
                                             <div class="form-group" >
                                                 {{ form.trans_number|as_crispy_field }}
                                             </div>
                                         </div>

                                         <div class="col-lg-4 col-sm-12">
                                             <div class="form-group" >
                                                 {{ form.device_serial|as_crispy_field }}
                                             </div>
                                         </div>
                                         <div class="col-lg-4 col-sm-12">
                                             <div class="form-group" >
                                                 {{ form.affects_version|as_crispy_field }}
                                             </div>
                                         </div>


                                    </div>
                                  </div>
                            </div>



                        </div>
                    </div>


                   <div class="card-footer">
                      <button type="submit" style="width: 100%" class="btn btn-info btn-block-xs">
                        {% if message == 'edit' %}
                            <span> Update </span>
                        {% else %}
                            <span> Save </span>
                        {% endif %}
                      </button>
                   </div>


                    <input name="url" type="hidden" class="url_input">
                    <input name="instance" type="hidden"  value="{{ request.user.instance.id }}">
            </div>
        </div>

    </div>

    <div class="modal-footer">
         <button type="button" class="btn btn-outline btn-block-xs float-right" data-dismiss="modal">
           <span> <i class="fas fa-times"></i> Cancel </span>
        </button>
   </div>

{% endblock %}


{% block js %}
    <script>
        function get_url() {
            var url_input = $('.url_input');
            url_input.each(function (i) {
                $(this).val(window.location.href);
            });
            return url_input;
        }

        get_url();

    </script>

    <script>
        $(document).ready(function() {
            $('#issue_type').select2({width: '100%', placeholder:'Search...'});
            $('#device_serial').select2({width: '100%', placeholder:'Search...', border:'blue'});
            $('#module_div').select2({width: '100%', placeholder:'Search...'});
            $('#station').select2({width: '100%', placeholder:'Search...'});
            $('#channel').select2({width: '100%', placeholder:'Search...'});
            $('#priority').select2({width: '100%', placeholder:'Search...'});

        {#  Hide Trans number before you select Tom-Old from channel input   #}
             $("#channel").change(function()
             {
              if($(this).val() == 1 )
              {
               $("#trans_number_div").show();
              }
              else
              {
               $("#trans_number_div").hide();
              }
             });
             $("#trans_number_div").hide();


             {#  Hide subscriptions filds before you select Subscriptions from module input   #}
             $("#module_div").change(function()
             {
              if($(this).val() == 2 )
              {
               $(".subscription").show();
              }
              else
              {
               $(".subscription").hide();
              }
             });
             $(".subscription").hide()

            {#  Hide Trains filds before you select train from module input   #}
             $("#module_div").change(function()
             {
              if($(this).val() == 5 )
              {
               $(".trains").show();
              }
              else
              {
               $(".trains").hide();
              }
             });
             $(".trains").hide();

        });
    </script>
{% endblock %}