
<div class="collapse" id="filter_div">
     <div class="card card-body">
         <form method="get" action="#"  style="height: 80%">
              <div class="card-body">

                    <div class="row">
                        <div class="col-lg-4 col-sm-12">
                            <div class="form-group" >
                                <label for="issue_number">Issue Number</label>
                                <input type="number"  id="issue_number" name="issue_number"  placeholder="Type here...." class="form-control border border-primary"/>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label for="title">title</label>
                                <select id="title" name="title"  data-toggle="select" class="form-control">
                                    <option>register</option>
                                    <option>HTML</option>
                                    <option>JavaScript</option>
                                    <option>Bootstrap</option>
                                </select>
                             </div>
                        </div>

                         <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                            <label for="issue_number">Status</label>
                                <input type="text" id="status" name="status" placeholder="Type here...." class="form-control border border-primary"/>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-12">

                             <div class="form-group">
                                <label for="lebel">Label</label>
                                <select id="label" name="label" data-toggle="select" multiple class="form-control">
                                    <option >CSS</option>
                                    <option>HTML</option>
                                    <option>JavaScript</option>
                                    <option>Bootstrap</option>
                                </select>
                            </div>
                        </div>

                         <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                 <label for="issue_number">Date From</label>
                                <input type="date" id="date_from" name="date_from" placeholder="Type here...." class="form-control border border-primary"/>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                 <label for="issue_number">Date To</label>
                                <input type="date" id="date_to"  name="date_to" placeholder="Type here...." class="form-control border border-primary"/>
                            </div>
                        </div>

                    </div>

                  </div>

                 <div class="card-footer">
                      <button  class="btn btn-info btn-block-xs">
                            <span> Search </span>
                      </button>
                </div>

         </form>
     </div>
</div>

