
<div class="collapse" id="filter_div">
    <div class="card">
        <div class="card-header bg-dark">
           <span class="font-size-20pt text-light"><i class="fas fa-filter"></i> Filter</span>
        </div>
         <form method="get" action="#"  style="height: 80%">
              <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 col-sm-12">
                            <div class="form-group" >
                                <label for="issue_number">Issue Number</label>
                                <input type="number"  id="issue_number" name="issue_number"  placeholder="Type here...." class="form-control border border-primary"/>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label for="title">title</label>
                                <input id="title" name="title"  placeholder="Type here...."  class="form-control border border-primary" />
                             </div>
                        </div>

                         <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                            <label for="issue_number">Status</label>
                                <select id="status" name="status" data-toggle="select" multiple class="form-control border border-primary">
                                    {% if status %}
                                        {% for x in status %}
                                        <option value={{ x.id }}>{{ x.name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-12">
                             <div class="form-group">
                                <label for="module">Module</label>
                                <select id="module" name="module" data-toggle="select" multiple class="form-control border border-primary">
                                    {% if module %}
                                        {% for i in module %}
                                         <option value={{ i.id }}>{{ i.name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>

                         <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                 <label for="issue_number">Date From</label>
                                <input type="date" id="date_from" name="date_from" placeholder="Type here...." class="form-control border border-primary"/>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                 <label for="date_to">Date To</label>
                                <input type="date" id="date_to"  name="date_to" placeholder="Type here...." class="form-control border border-primary"/>
                            </div>
                        </div>

                    </div>

                  </div>

                 <div class="card-footer">
                      <button  class="btn btn-info btn-block-xs">
                            <span> Search </span>
                      </button>
                </div>

         </form>

    </div>

</div>

