 <!-- drawer -->
            <div class="mdk-drawer js-mdk-drawer"
                 id="default-drawer">
                <div class="mdk-drawer__content">
                    <div class="sidebar sidebar-dark sidebar-left"
                         data-perfect-scrollbar>



                        <a href="index.html" class="sidebar-brand ">
                           <img src="/static/assets/images/ecards2.png" width="200px">
                        </a>
                        <form action="index.html"
                              class="search-form flex-shrink-0 search-form--black sidebar-m-b sidebar-p-l mx-16pt pr-0">
                            <input type="text"
                                   class="form-control pl-0"
                                   placeholder="Search">
                            <button class="btn"
                                    type="submit"><i class="material-icons">search</i></button>
                        </form>

                        <div class="sidebar-heading">Issue</div>
                        <ul class="sidebar-menu">
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button js-sidebar-collapse"
                                   data-toggle="collapse"
                                   href="#enterprise_menu">
                                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left"><i class="fas fa-list-alt"></i></span>
                                    My Issue
                                    <span class="ml-auto sidebar-menu-toggle-icon"></span>
                                </a>
                                <ul class="sidebar-submenu collapse sm-indent"
                                    id="enterprise_menu">
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button"
                                           href="{% url 'ONSite:CreateIssue' %}" data-toggle="modal" data-target="#sub_modal">
                                            <span class="sidebar-menu-text">Add New</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button"
                                           href="{% url 'Core:Index' %}">
                                            <span class="sidebar-menu-text">List</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
{#                            <li class="sidebar-menu-item">#}
{#                                <a class="sidebar-menu-button"#}
{#                                   data-toggle="collapse"#}
{#                                   href="#productivity_menu">#}
{#                                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left"><i class="fas fa-train"></i></span>#}
{#                                    Stations#}
{#                                    <span class="ml-auto sidebar-menu-toggle-icon"></span>#}
{#                                </a>#}
{#                                <ul class="sidebar-submenu collapse sm-indent"#}
{#                                    id="productivity_menu">#}
{#                                    <li class="sidebar-menu-item">#}
{#                                        <a class="sidebar-menu-button"#}
{#                                           href="projects.html">#}
{#                                            <span class="sidebar-menu-text">Add New</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li class="sidebar-menu-item">#}
{#                                        <a class="sidebar-menu-button"#}
{#                                           href="tasks-board.html">#}
{#                                            <span class="sidebar-menu-text">List</span>#}
{#                                        </a>#}
{#                                    </li>#}
{##}
{##}
{#                                </ul>#}
{#                            </li>#}
                        </ul>

                    </div>
                </div>
            </div>
            <!-- // END drawer -->